@import url(media.css);
@import url(variables.css);


body{
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
    text-transform: capitalize;
    color: var(--bs-col);
    margin: 0;
}
/* l'entete du site*/
header{
    width: 100%;
    position: fixed;
    z-index: 6;
    top: 0;
    margin-bottom: 10%;
}
nav{
    background-color: var(--bgnav-grey);
}
.container-nav{
    max-width: 100%;
}
.nav-brand{
    color: var(--bs-black);
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}
.fw-bold{
    font-weight: 700 !important;
}
span a:hover{
    color: var(--bs-black);
}
 .navbar-nav .nav-link {
    color: var(--bslink-pal);
}
.button-return{
    text-transform: capitalize;
}
.btnOffcanvas{
    
    border-color: var(--black-min);
}

.btnOffcanvas:focus{
    border: 1px solid var(--bslink-pal);
    box-shadow: none;
}

.btnOffcanvas svg{
    fill: var(--bslink-pal);
}
.btn-close:focus{
    box-shadow: none;
}
.offcanvas{
    background-color:  var(--offcanvas-gainsboro);
    height: 200px;
    margin-top: 60px;
    margin-left: 1px;
    margin-right: 1px;
    overflow-y: hidden;
}
.offcanvas-body ul{
    padding-left: 0;
}
.offcanvas-body li{
    list-style: none;

}
.offcanvas-body li a{
    text-decoration: none;
    color: var(--bs-black);
}
hr{
    width: 10%;
    margin-top: 3px;
    margin-bottom: 3px;
}
/* section portfolio */
.section-portfolio{
    margin: 1%;
    margin-bottom: 5%;
}
.section-portfolio .container{
    margin-top: 90px;
}
.block-art{
    padding-top: 10px;
    padding-bottom: 5px;
}
.block-art .article-john span{
    margin-bottom: 10px;
    color: var(--color-grey);
}
.block-art .button-me .btn{
    width: 160px;
    text-transform: none;
    text-align: left;
    padding: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: none;
}
/* la section expertise */
.section-expertise{
    margin: 1%;
    margin-bottom: 5%;
    background-color: var(--bgsect-grey);
}
.bar-progress{
    background-color: var(--bs-blanc)!important;
}
.block-right{
    position: relative;
    top: 8px;
    height: 15px;
    background-color: var(--bgnav-greykl);
}
.h3Expe{
    color: var(--color-grey);
}
.section-expertise svg{
    fill: var(--bg-svg);
    stroke: var(--bg-svg);
}
.Colsvg svg{
    fill: var(--bg-svg);
}
.figma svg{
    fill: var(--bg-pembe);
}
.iconFramework{
    background-color: var(--bs-blanc)!important;
}