:root{
   --bgnav-grey: #f8f9fa;
   --bs-black: rgba(0,0,0,.9);
   --bslink-pal: rgba(0,0,0,.55);
   --black-min: rgba(0,0,0,.1);
   --offcanvas-gainsboro: #fcfcfcef;
   --bs-blanc: #fff;
   --bs-col: #212529;
   --bgnav-greykl: #868686;
   --bgsect-grey: #21252913;
   --color-grey: rgba(53, 52, 52, 0.87);
   --bg-svg: #0d6efd;
   --bg-pembe: #fff;
   
}